<h1> Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
<ol>
    <li>Python</li>
    <li>R</li>
    <li>SQL</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
    <li>NumPy</li>
    <li>Matplotlib</li>
    <li>Pandas</li>
</ol>

<table style="width:20%">
<tr>
<th>Data Science Tools</th
</tr>

<tr>
<td>MongoDB</td>
</tr>

<tr>
<td>Apache SparkSQL</td>
</tr>

<tr>
<td>TensorFlow</td>
</tr>
</table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
## This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

<b>Objectives:</b>
<ol>
<li>Python</li>
<li>R</li>
<li>SQL</li>
</ol>

<h2>Author</h2>
Ceyhan DoÄŸan